In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import streamlit as st
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual
...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual

In [5]:
df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df['brand'] = df['name'].apply(lambda x: x.split()[0])
df['car_age'] = 2025 - df['year']
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,brand,car_age
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,Maruti,18
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,Maruti,18
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,Hyundai,13
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,Datsun,8
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Honda,11
...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Hyundai,11
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Hyundai,11
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Maruti,16
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,Hyundai,9
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,Renault,9